<!DOCTYPE html>
<html lang="es">
<head>
    <title>MVP: Modelo ML Recomendación Hotelera</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="{{url_for('static', path='/css/styles.css')}}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', path='/img/favicon.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script>
        var hotelesOptions = {{ selected_data_hotels|tojson }};
        var estadoOptions = {{ selected_data_state|tojson }};
        var ciudadOptions = {{ selected_data_city|tojson }};
        var poiOptions = {{ selected_data_poi|tojson }};
    </script>
    
</head>
<body>
    <header>
        <div id="select-logo">       
        <img src="{{url_for('static', path='/img/logo_tipster.png')}}" alt="Tipster" class="logo">
        </div>
        <h1>MVP: Modelo ML Recomendación Hotelera</h1>
        <div class="social-icons">
            <a href="#" target="_blank"><img src="{{url_for('static', path='/img/icono_youtube.png')}}" alt="Video"></a>
            <a href="https://github.com/cistelsa/Commerce_Data_Analysis_and_Recommendations" target="_blank"><img src="{{url_for('static', path='/img/icono_github.png')}}" alt="GitHub"></a>
            <a href="https://tipsterhome.cistelsa.com" target="_blank"><img src="{{url_for('static', path='/img/icono_web.png')}}" alt="Sitio Web"></a>
        </div>
    </header>
    <div class="title">
        <h1>MVP: Modelo ML Recomendación Hotelera</h1>
      </div>
    <div class="search" id="flex-container">
        <div id="select-container">
            <label for="state-select"><span id="label-input-3">Consulta la recomendación de 3 Hoteles Cercanos x Stars:</span></label>
            <br>
            <div style="display: flex;align-items: stretch;flex-wrap: nowrap;flex-direction: column;">
                                        
                    <div style="flex: 1;">
                        <label for="state-select">
                            <select class="js-example-basic-single" id="state-select" name="state">
                                <option value="" disabled selected>Estado</option>
                            </select>
                        </label>
                    </div>
                    <div style="flex: 1;">
                        <label for="city-select">
                            <select class="js-example-basic-single" id="city-select" name="city">
                                <option value="" disabled selected>Ciudad</option>
                            </select>
                        </label>
                    </div>
                    <div style="flex: 1;">
                        <label for="poi-select">
                            <select class="js-example-basic-single" id="poi-select" name="poi">
                                <option value="" disabled selected>Punto de Interes</option>
                            </select>
                        </label>
                    </div>
                    
                </div>
                <button id="consultar-hoteles-button">Ir</button>
                <br>
                <br>
                <label for="recomendacion-select"><span id="label-input">Consulta la calificación de sentimientos de los Hoteles:</span>
                <select class="js-example-basic-single" id="recomendacion-select" name="recomendacion">
                    <option value="" disabled selected>Selecciona un Hotel</option>
                </select></label>
                <button id="consultar-recomendacion-button">Ir</button>
                <br>
                <br>            
                <label for="recomendacion-2-select"><span id="label-input">Consulta la recomendación de 6 Hoteles similares :</span>
                <select class="js-example-basic-single" id="recomendacion-2-select" name="recomendacion-2">
                    <option value="" disabled selected>Selecciona un Hotel</option>
                </select></label>
                <button id="consultar-recomendacion-2-button">Ir</button>

                <div id="resultado-container"></div>

        </div>
        <div class="other-content">
            <h2>FULL DASHBOARD V2.3</h2>
            <br>
            <iframe title="Dashboard_Tipster" width="100%" height="373.5" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiNjM1NjAyZDEtMmU2Mi00YjE0LTg2MWMtYjIwNjkzYjJmNzVkIiwidCI6Ijc3ZjhjMzAzLWVmNDgtNDEyZi1iYmI4LTA4OWRlN2I4MmM4YSIsImMiOjR9&embedImagePlaceholder=true&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
            <br>
            <h2>KEY ENABLER</h2>
            <img src="{{url_for('static', path='/img/banner_herramientas_2.png')}}" alt="Banner Herramientas" class="herramientas">
            <br>
            Próximamente tendremos actualizaciónes de nuevas fuentes de datos, disponibilidad de cuartos de Hotel en tiempo real y con Geolocalización...
            <br>
            <br>
            <br>
        </div>
    </div>

    
    
    <section id="pie-pagina">Technical Project Manager: Laydy Peñaloza - Data Engineer: Camilo Ortiz - Data Analyst: Mayren Silva, Yésica León - Data Scientist and ML: Aldemar Bohorquez - Modelo y Proyecto 100% Autoría - Todos los derechos reservados 2023</section>
    <script src="{{url_for('static', path='/js/script.js')}}"></script>
    
        <script>
        $(document).ready(function () {
    
            var recomendacionInput = $("#recomendacion-select");

            // Inicializar Select2 en el campo de texto
            recomendacionInput.select2({
                data: hotelesOptions,
                minimumInputLength: 3,  // Comenzar a filtrar después de ingresar al menos 3 caracteres
                placeholder: "Selecciona un Hotel"
            });

            // Manejar selección de hotel y clic en el botón
            $("#consultar-recomendacion-button").click(function () {
                var titulo = recomendacionInput.val();

            
                $.ajax({
                    type: "GET",
                    url: "/recomendacion_1",
                    data: { titulo: titulo },
                    success: function (response) {
                        var resultadoContainer = $("#resultado-container");
                        // Definir funciones para convertir valores nulos o vacíos en 0
                        function convertirAEntero(valor) {
                            return valor ? parseInt(valor) : 0;
                        }
                        // Formatear el array de recomendación como cadena JSON
                        var NegativeFormatted = convertirAEntero(JSON.stringify(response.Negative));
                        var PositiveFormatted = convertirAEntero(JSON.stringify(response.Positive));
                        var VeryNegativeFormatted = convertirAEntero(JSON.stringify(response['Very Negative']));
                        var VeryPositiveFormatted = convertirAEntero(JSON.stringify(response['Very Positive']));
                        var GeneralSentiment = (parseInt(PositiveFormatted) + parseInt(VeryPositiveFormatted)) - (parseInt(NegativeFormatted) + parseInt(VeryNegativeFormatted))
                        // Asigna etiquetas de texto en función del valor numérico
                        var etiquetaSentimiento = '';
                        if (GeneralSentiment <= -20) {
                            etiquetaSentimiento = 'Muy Negativo';
                        } else if (GeneralSentiment > -20 && GeneralSentiment < 0) {
                            etiquetaSentimiento = 'Negativo';
                        } else if (GeneralSentiment >= 1 && GeneralSentiment < 20) {
                            etiquetaSentimiento = 'Positivo';
                        } else {
                            etiquetaSentimiento = 'Muy Positivo';
                        }

                    resultadoContainer.html("Tu consulta es <strong>" + titulo + "</strong>. <br><br><strong>Sentimiento General:</strong> <br><br>" + etiquetaSentimiento + "<br><br><strong>Cantidad Sentimiento Positivo:</strong> <br><br>" + PositiveFormatted + "<br><br><strong>Cantidad Sentimiento Muy Positivo:</strong> <br><br>" + VeryPositiveFormatted + "<br><br><strong>Cantidad Sentimiento Negativo:</strong> <br><br>" + NegativeFormatted + "<br><br><strong>Cantidad Sentimiento Muy Negativo:</strong> <br><br>" + VeryNegativeFormatted);
                    }

                });
            });


            var recomendacion_2Input = $("#recomendacion-2-select");
    
            // Inicializar Select2 en el campo de texto
            recomendacion_2Input.select2({
                data: hotelesOptions,
                minimumInputLength: 3,  // Comenzar a filtrar después de ingresar al menos 3 caracteres
                placeholder: "Selecciona un Hotel"
            });


                // Manejar selección de película y clic en el botón
            $("#consultar-recomendacion-2-button").click(function () {
                var titulo_2 = recomendacion_2Input.val();

                $.ajax({
                    type: "GET",
                    url: "/recomendacion_2",
                    data: { titulo_2: titulo_2 },
                    success: function (response) {
                        var resultadoContainer = $("#resultado-container");
                        
                    resultadoContainer.html(response.recomendacion_2);
                    }

                });
            });


                    
            var estadoInput = $("#state-select");

            // Inicializar Select2 en el campo de texto
            estadoInput.select2({
                data: estadoOptions,
                minimumInputLength: 2,  // Comenzar a filtrar después de ingresar al menos 2 caracteres
                placeholder: "Estado"
            });

   
            var ciudadInput = $("#city-select");

            // Inicializar Select2 en el campo de texto
            ciudadInput.select2({
                data: ciudadOptions,
                minimumInputLength: 2,  // Comenzar a filtrar después de ingresar al menos 2 caracteres
                placeholder: "Ciudad"
            });

    
            var poiInput = $("#poi-select");

            // Inicializar Select2 en el campo de texto
            poiInput.select2({
                data: poiOptions,
                minimumInputLength: 2,  // Comenzar a filtrar después de ingresar al menos 2 caracteres
                placeholder: "Punto de Interes"
            });


            estadoInput.change(function () {
                var estadoSeleccionado = estadoInput.val();
                if (estadoSeleccionado) {
                    // Realiza una solicitud para obtener ciudades en función del estado seleccionado
                    $.ajax({
                        type: "GET",
                        url: "/obtener_ciudades", // Debes definir una ruta adecuada en tu backend
                        data: { estado: estadoSeleccionado },
                        success: function (response) {
                            ciudadInput.empty(); // Borra las opciones actuales
                            // Agrega una opción en blanco al inicio
                            ciudadInput.select2({
                        minimumInputLength: 0,
                        placeholder: "Ciudad"
                        })
                        ciudadInput.append(new Option(" ", ""));
                        // Agrega las ciudades obtenidas
                        for (var i = 0; i < response.ciudades.length; i++) {
                            ciudadInput.append(new Option(response.ciudades[i], response.ciudades[i]));
                        }
                        
                            poiInput.empty(); // Borra las opciones actuales
                            poiInput.select2({
                                minimumInputLength: 0, 
                                placeholder: "Punto de Interes"
                            });
                            poiInput.append(new Option(" ", ""));
                        // Agrega las ciudades obtenidas
                        for (var i = 0; i < response.poi.length; i++) {
                            poiInput.append(new Option(response.poi[i], response.poi[i]));
                        }
                        }
                    });
                }
            });

            ciudadInput.change(function () {
                var ciudadSeleccionada = ciudadInput.val();
                if (ciudadSeleccionada) {
                    // Realiza una solicitud para obtener puntos de interés en función de la ciudad seleccionada
                    $.ajax({
                        type: "GET",
                        url: "/obtener_poi", // Debes definir una ruta adecuada en tu backend
                        data: { ciudad: ciudadSeleccionada },
                        success: function (response) {
                            poiInput.empty();
                            poiInput.append(new Option("Punto de Interés", ""));
                        // Agrega las ciudades obtenidas
                        for (var i = 0; i < response.poi.length; i++) {
                            poiInput.append(new Option(response.poi[i], response.poi[i]));
                        }
                        }
                    });
                }
            });


            // Manejar selección de estados, ciudades, puntos de interes y clic en el botón
            $("#consultar-hoteles-button").click(function () {
                var estado = estadoInput.val() || '0';
                var ciudad = ciudadInput.val() || '0';
                var poi = poiInput.val() || '0';

                    
                $.ajax({
                    type: "GET",
                    url: "/busca_hotel",
                    data: { estado: estado, ciudad: ciudad, poi: poi },
                    success: function (response) {
                        var resultadoContainer = $("#resultado-container");
                        
                    resultadoContainer.html(response.busca_hotel);
                    }

                });
            });

        });
    </script>
</body>
</html>